*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* マウスを置くと色や形が変わる */
.hover{
  color: red;
}

.hover:hover{
  color: blue;
}

.button{
  padding: 20px 40px;

text-transform: uppercase;
color: white;
background-color: turquoise;
border: 2px solid gray;
font-size: 20px;
font-weight: 900;
}

.button:hover{
  padding: 20px 40px;
  background-color: yellow;
  color: black;
  font-size: 25px;
  font-weight: 900;
  border-radius: 50%;
}








.container{
  margin-top: 20px;
  width: 500px;
}

.container:hover.paragraph{
  
}